*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &::selection{
        background: #161616;
        color: #eeeeee;
    }
}
body, html{
    height: 100%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
// body{
//     background: #000;
//     color: #fff;
// }
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
@media (max-width: 1200px){
    .container{
        padding: 0 10px;
    }
}

main{
    .hero{
        position: relative;
        width: 100%;
        .headingMain{
            h1{
                font-size: calc((1200px - 48px) * 0.1695);
                font-family: futura;
                white-space: nowrap;
                letter-spacing: -0.05em;
                line-height: 0.85em;
                span{
                    display: inline-block;
                    
                }
                .the{
                    margin-right: 25px;
                }
            }
        }
        .videoSec{
            width: 100%;
            position: relative;
            span{
                display: inline-block;
                position: fixed;
                padding: 1.6vw 1vw;
                font-size: 1.5vw;
                font-weight: 600;
                margin: 0;
                color: #fff;
                background: rgb(19, 18, 18);
                border-radius: 50%;
                opacity: 0;
            }
            
            video{
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin-top: 2rem;
            }
        }
    }
}

.imgSec{
    margin-top: 4rem;
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.4rem;
        margin: 2rem 0;
        margin-top: 3rem;
        .btnAnime{
            width: 150px;
            height: 45px;
            position: relative;
            p{
                font-size: 14px;
                font-family: 'Poppins', sans-serif;
                line-height: 0;
            }
            span{
                display: inline-block;
                width: 100%;
                height: 1px;
                background: #000;
                margin-top: 15px;
                position: absolute;
            }
            .one{
                left: 0;
            }
            .two{
                opacity: 0;
                right: 0;
            }
            overflow-x: hidden;
            margin-top: 2rem;
            outline: none;
            border: none;
            background: transparent;
        }
        .headings{
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            h2{
                display: inline-block;
                text-transform: uppercase;
                font-size: 2.4vw;
            }
        }
        .p{
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }
    }
    .lineSec{
        width: 100%;
        height: auto;
        .text{
            display: flex;
            width: 100%;
            justify-content: space-between;
            text-transform: uppercase;
        }
        span{
            display: inline-block;
            width: 100%;
            height: 1px;
            background: #000;
        }
    }
    .images{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 10px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}
@media (max-width: 1200px){
    .images{
        margin-top: 1rem;
    }
}